<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body class="bg-orange-50 text-black text-lg font-mono">
    <nav>
        {{ partial:nav }}
    </nav>
    
    <div id="z-1 page-container">
        <div class="container min-h-dvh max-w-lg mx-auto py-8">
            {{ template_content }}
        </div>
    </div>

    <footer>
        {{ partial:footer }}
    </footer>
</body>
</html>