<section class="border border-black mt-12">
    {{ slot }}
    {{ collection:kerkdiensten :limit="limit" }}
    
        <a href="{{ url }}" class="flex items-center justify-between p-5 border-t border-black text-black hover:text-orange-300 hover:bg-orange-150">
            {{ locaties :limit="1"}}
            <img class="w-2/3" src="{{ locatie_asset }}" alt="{{ locatie_asset:alt }}" />
            {{ /locaties }}

            <div class="w-1/3 pl-5">
                <h2>{{ title }}</h2>
            </div>
          
        </a>
        <div class="p-5">
            {{ locaties}}
                <span class="mr-2">{{ locatie }}</span>
            {{ /locaties }}

            <span class="ml-2 text-orange-900 text-sm">{{ date }}</span>
        </div>
    {{ /collection:kerkdiensten }}
</section>