<section class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">
    {{ collection:verhuur_locaties :limit="limit" }}
        
                <a class="col-span-1" href="{{ url }}">
                
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="h-48 w-96" src="{{ assets_field }}" alt="{{ assets_field:alt }}">
                        <div class="px-6 py-4">
                        </div>
                        <div class="px-6 pt-4 pb-2">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ title }}</span>
                        </div>
                    </div>
                    
                </a>

    {{ /collection:verhuur_locaties }}
</section>