<div class="container min-h-dvh mx-auto">
    <div class="max-w-sm md:max-w-xl lg:max-w-4xl mx-auto pt-12 px-4">

        <!-- Titel -->
        <h1 class="text-4xl font-extrabold text-center text-orange-600 mb-10">
            {{ title }}
        </h1>

        <!-- Header -->
        <div class="bg-gray-50 border-l-4 border-orange-500 pl-6 pr-4 py-4 mb-12 shadow-sm rounded-md">
            {{ header }}
        </div>

     </div>    
    <div class="max-w-sm md:max-w-2xl lg:max-w-7xl mx-auto pb-12 px-4">

        <section class="mb-10 mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {{ partial:partials/activiteiten }}
        </section>

    </div>
</div>