<div class="container min-h-dvh mx-auto py-12 px-4">
    <div class="max-w-lg md:max-w-2xl lg:max-w-7xl mx-auto py-12 px-4">

        <!-- Titel -->
        <h1 class="text-4xl font-extrabold text-center text-orange-600 mb-10">
            {{ title }}
        </h1>

        <!-- Nieuws -->
        <div class="max-w-4xl mx-auto">
            <section class="mb-10 mt-12 place-items-center grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6">
                {{ partial:partials/listing }}
            </section>
        </div>

    </div>
</div>