<div class="container min-h-dvh mx-auto py-12 px-4">
  <div class="max-w-lg md:max-w-2xl lg:max-w-7xl mx-auto py-12 px-4">

  <!-- Titel -->
  <h1 class="text-4xl font-extrabold text-center text-orange-600 mb-10">
    {{ title }}
  </h1>

  <!-- Markdown Section 1 -->
  <div class="bg-gray-50 p-6 rounded-xl shadow-md mb-8">
    <div class="prose max-w-none prose-orange">
      {{ markdown_field_1 }}
    </div>
  </div>

  <!-- Image 1 -->
  <div class="flex justify-center mb-10">
    <img src="{{ assets_field_1 }}" alt="{{ assets_field_1 }}" class="rounded-xl border-4 border-orange-500 p-2 shadow-md max-w-full" />
  </div>

  <!-- Markdown Section 2 -->
  <div class="bg-gray-50 p-6 rounded-xl shadow-md mb-8">
    <div class="prose max-w-none prose-orange">
      {{ markdown_field_2 }}
    </div>
  </div>

  <!-- Image 2 -->
  <div class="flex justify-center">
    <img src="{{ assets_field_2 }}" alt="{{ assets_field_2 }}" class="rounded-xl border-4 border-orange-500 p-2 shadow-md max-w-full" />
  </div>

  </div>
</div>
