{{ if {form:success in="contact"} }}
    <div class="bg-green-300 text-white p-2">Bericht succesvol verzonden</div>
{{ /if }}

{{ if {form:errors in="contact"} }}
    <div class="bg-red-500 text-white p-2">Er is iets foutgegaan</div>
{{ /if }}

<div class="container min-h-dvh max-w-sm md:max-w-xl xl:max-w-4xl mx-auto py-12 px-4">

    <!-- Titel -->
    <h1 class="text-4xl font-extrabold text-center text-orange-600 mb-10">
    {{ title }}
    </h1>

    <!-- Header -->
    <div class="bg-gray-50 border-l-4 border-orange-500 pl-6 pr-4 py-4 mb-12 shadow-sm rounded-md">
        {{ header }}
    </div>

    <div class="mx-auto max-w-screen-md">
        {{ partial:forms/contact }}
    </div>
    
</div>