{{ if {form:success in="kaarsje"} }}
    <div class="bg-green-300 text-white p-2">Wens of gebed is succesvol verzonden</div>
{{ /if }}

{{ if {form:errors in="kaarsje"} }}
    <div class="bg-red-500 text-white p-2">Er is iets mislukt</div>
{{ /if }}

<div class="container min-h-dvh mb-6 mx-auto">

    {{ partial:forms/kaarsje }}

    <div class="max-w-sm md:max-w-xl lg:max-w-4xl mx-auto">

        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        {{ form:submissions in="kaarsje" }}
        
                <div class="col-span-1">
                
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full" src="/assets/static/candle.gif" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                        <p class="text-gray-700 text-base overflow-hidden text-ellipsis">
                            {{ prayer }}
                        </p>
                        </div>
                        <div class="px-6 pt-4 pb-2">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ date }}</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Gebed van {{ name }}</span>
                        </div>
                    </div>
                    
                </div>

        {{ /form:submissions }}

        </section>

    </div>

</div>