<div class="container min-h-dvh">
    <div class="md:max-w-8xl mx-auto py-8">

        <h1 class="text-3xl bg-orange-400 text-center text-black font-bold mt-6 p-6">{{ title }}</h1>

        {{ taxonomy_terms_field }}

            <div class="flex justify-center mt-8">
                <div class="w-full max-w-4xl">
                    {{ replicator_field }}
                    <div class="bg-white shadow-lg p-6 mb-6 mx-2">
                        <h2 class="text-xl font-semibold text-gray-800 mb-4">{{ title }}</h2>
                        <div class="text-gray-700">
                        {{ bard_field }}
                        </div>
                    </div>
                    {{ /replicator_field }}
                </div>
            </div>

        {{ /taxonomy_terms_field }}

    </div>

    <div class="max-w-sm md:max-w-xl lg:max-w-4xl mx-auto my-6">

        {{ partial:forms/verhuur }}

    </div>
</div>